/*--base.css--*/
*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
body{
	background: linear-gradient(to right, rgba(247,71,109,0.9),rgba(254,89,95,1));
	font-family: Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
	max-width:500px;
	min-width:320px;
    margin: auto;
}
a{
	text-decoration:none;
}
.hdk-Total>li>p{
	font-size: 12px;
	text-align: center;
	color: #fff;
}
.hdk-search>input{
	outline:none;
	width: 80%;
	height: 30px;
	border-style:none;
	padding-left: 15px;
	vertical-align: top;
}
.hdk-Return-skin{
	width: 100%;
	position:fixed;
	bottom: 60px;
	right: 0px;
}
.hdk-Return{
	width: 100%;
	max-width: 650px;
	position: relative;
	margin: 0 auto;
}
.hdk-within{
	position: absolute;
	top: -50px;
	right: 10px;
	width: 40px;
}
.hdk-Return>a>img{
	width: 40px;
	height: 40px;
}
.hdk-lower-skin{
	width: 100%;
	position:fixed;
	bottom: 0;
	left:0;
}
.hdk-lower{
	max-width: 500px;
	height:60px;
	background: #fff;					
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}
.hdk-menu{
	text-align: center;
}
.hdk-menu>a>img{
	margin-top: 12px;
	width: 20px;
}
.hdk-menu>a>p{
	color: #8a8a8a;
	font-size: 12px;
}
.enroll{
	outline:none;
	width: 50%;
    height: 35px;
    line-height: 35px;
    margin:0 auto;
    background: linear-gradient(to right, rgba(247,71,109,0.9),rgba(254,89,95,1));
    /*background: #f7476d;*/
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.hdk-hi-copyright{
	border:1px solid #fff;
	margin: 50px auto 10px;
	border-radius: 50px;
	text-align: center;
	line-height: 26px;
	width: 150px;
	color: #fff;
	font-size: 12px;
}
.hdk-empty{
	height: 60px;
}

/*其他页面*/
.swiper-slide>img{
	 width: 100%;
}
.hdk-skin{
	max-width: 500px;
	min-height: 320px;
	margin:0 auto;
	position: relative;
}
.hdk-Music>a>img{
	width: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
}
.hdk-Total{
	height: 50px;
	border-bottom: 1px solid #fbb9bb;
}
.hdk-Total>li{
	width: 33%;
	float: left;
	margin: 8px 0px;	
}
.hdk-Total>li>span{
	font-size: 14px;
	display: block;
	text-align:center;
	color: #fff;
}.hdk-time{
	width: 96%;
	height: 173px;
	margin: 10px auto;
	background: #fff;
	border-radius: 5px;
}
.hdk-search{
	max-width: 500px;
	width: 100%;
	height: 30px;
	display: inline-block;
	margin: 6px auto;
}
.hdk-search>button{
	outline:none;
	margin:5px;
	border-style: none;
	background: none;
}
.hdk-search>button>img{
	width: 20px;
	vertical-align:bottom;
}
.hdk-activity{
	max-width: 500px;
	width: 100%;
	background: #f8f8f8;
	height: 80px;
}
.hdk-introduce{
	background: #f0f0f0;
	width: 25%;
	height: 100%;
	max-width: 500px;
	float: left;
	text-align: center;
}
.hdk-introduce>img{
	margin-top: 10px;
	width: 35px;
}
.hdk-introduce>p{
	font-size: 14px;
	color: #f7476d;
}
.hdk-End{
	width: 75%;
	margin-top: 5px;
	text-align: center;
	float: right;
}
.hdk-End>img{
	width: 30px;
	vertical-align: middle;
	margin: 5px;
}
.hdk-End>p{
	font-size: 14px;
	color: #8a8a8a;
	display: inline-block;
	text-align: center;
	margin: auto 0px;
}
.hdk-day{
	width: 75%;
	float: right;
	text-align:center;
}
.hdk-day>p{
	font-size: 14px;
	line-height: 25px;
	color: #bfbfbf;
}
.hdk-day>p>span{
	color: #8a8a8a;
	font-size: 16px;
}
.hdk-immediately{
	width: 100%;
	max-width: 500px;
	margin: 8px auto;
	text-align: center;
}
/*---end---*/