*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.hdk-Player{
	margin-top: 5px;
	width:96%;
	background: #fff;
	border-radius: 5px;
	display: inline-block;
}
.hdk-active span{
	 color:#fff;
}
/*--index样式--*/
.hdk-index-Player{
	background-color: #fb5265;
	padding: 0 1%;	
}
.swiper-slide>img{
	 width: 100%;
}
.hdk-skin1{
	max-width: 500px;
	min-height: 320px;
	margin:0 auto;
	position: relative;
}
.hdk-Music>a>img{
	width: 40px;
	position: absolute;
	top: 20px;
	right: 25px;
	z-index: 5;
}
.hdk-click{
	width: 48px;
	position: absolute;
	top: 88%;
	left: 50%;
	margin-left:-24px;
}
.hdk-click>li{
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	display: block;
	float: left;
	margin: 2px 2px;
}
.hdk-Total{
	display: flex;
	justify-content: space-around;	
}
.hdk-Total>li>span{
	font-size: 14px;
	display: block;
	text-align:center;
	color: #fff;
}
.hdk-search{
	max-width: 500px;
	width: 100%;
	height: 30px;
	display: inline-block;
	margin: 6px auto;
}
.hdk-search>button{
	outline:none;
	margin:5px;
	border-style: none;
	background: none;
}
.hdk-search>button>img{
	width: 20px;
	vertical-align:bottom;
}
.hdk-introduces{
	background: #f0f0f0;
	width: 25%;
	height: 100%;
	max-width: 500px;
	float: left;
	text-align: center;
}
.hdk-introduces>img{
	margin-top: 10px;
	width: 35px;
}
.hdk-introduces>p{
	font-size: 14px;
	color: #f7476d;
}
.hdk-immediately{
	width: 100%;
	max-width: 500px;
	margin: 8px auto;
	text-align: center;
}
/*---end---*/

/*--- rule 样式---*/
.rule{
	border-radius: 5px;
	margin: 10px auto;
	padding:4%;
	border:1px solid #fff;
	width: 88%;
	background: #fff;
}
.rule>p{
	line-height: 25px;
}
.copyright{
	background: #fe5961;
    margin: 50px auto 10px;
    border-radius: 50px;
    text-align: center;
    line-height: 26px;
    width: 150px;
    color: #fff;
    font-size: 12px;
}
.hdk-list span{
	 color:#fff;
} 
.list{
 display: none;
}
.hdk-picture>a{
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hdk-picture>a>img{
	width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.hdk-information>.box{
	height: 25px;
	max-width: 500px;
	display: inline-block;
	margin-top: 5px;
}
.hdk-orders{
	margin: 2px 4px;
	float: left;
	display: inline-block;
	height: 15px;
	border:1px solid #8a8a8a;
	border-radius: 25px 25px 25px 25px;
}
.hdk-orders>p{
	font-size: 12px;
	margin: 0 5px;
	text-align: center;
	color: #8a8a8a;
	line-height: 17px;
}
.hdk-information>.box>p{
	float: right;
	font-size: 14px;
	color: #f97c97;
	line-height: 25px;
}
.hdk-information>.box>h5{
	float: left;
	display: inline-block;
	margin: 2px auto;
	color:#8a8a8a;
}
.hdk-information{
	position: relative;
    padding: 0px 5%;
}
.hdk-information>button{
	width: 100%;
	height: 25px;
	background: linear-gradient(to right, rgba(247,71,109,0.9),rgba(254,89,95,1));
	border:none;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 10px;
	margin: 10px auto;
}
.hdk-information>img{
	width: 25px;
	position: absolute;
	top: 40px;
	left: 20%;
}
/*---end---*/

/*--join 样式--*/
.enrollment{
	width: 96%;
	margin:0 auto;
	background: #fff;
	border-radius:5px;
	margin-top: 10px;
}
.enrollment>p{
	font-size: 12px;
	border-bottom: 0.5px solid #e5e5e5;
	color: #8a8a8a;
	padding:10px;
}
.grouping{
	height:50px;
	line-height: 50px;
	border-bottom: 0.5px solid #e5e5e5;
	margin-left: 10px;
}
.grouping>p{
	display:inline-block;
	font-size: 14px;
	margin-right: 10px;
}
input{
	width: 60%;
	border:none;
	font-size: 12px;
	outline:none;
}
.grouping>span{
	display: none;
	width: 40%;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -20%;
	background: #000;
	opacity: 0.8;
	z-index: 100;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
}
.upload{
	height:50px;
	line-height: 50px;
	position: relative;
}
.Voice{
	width: 20%;
	height: 30px;
	background:#fd5963;
	color: #fff;
	border:none;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
}
.figure{
	width:80px;
	height:80px;
	border:1px dashed #ccc;
	position: relative;
	float:left;
	margin:5px 0 5px 10px;
}
.figure>input{
	width: 100%;
	height: 100%;
	opacity: 0;
}
.figure>img{
	width: 50%;
	position:absolute;
	top:50%;
	margin-top: -25%;
	left: 50%;
	margin-left: -25%;
}
.enrollment>textarea{
	width: 100%;
	height: 100px;
	resize: none;     /*防止文本框拖拽*/
	margin-top: 10px;
	border:0.5px solid #ccc;
	border-left:none;
	border-right: none;
	padding: 10px;
	box-sizing:border-box;
}
.enrollment>button{
	width:96%;
	height:40px;
	background: #fe5961;
	color:#fff;
	font-size: 14px;
	margin:20px 2%;
	border:none;
	outline: none;
	border-radius: 5px;
}
.hdk-width{
	width: 100%;
	max-width: 500px;
	height: 40px;
}
.hdk-Catalog{
	display: flex;
	justify-content: space-around;
}
.wrapper01 {
	overflow: hidden;
}
.wrapper01 .scroller li {
	float: left;
	line-height: 40px;
	font-size: 12px;
}
.wrapper01 .scroller li a{
	color:#fff;
	margin:0 10px;
}
.wrapper01 .scroller li.cur{
	border-bottom:1px solid #fff;
}
.clearfix li{
	margin-left: 0px;
	margin-right: 0px;
}
.hdk-Players{
	width: 95%; 
	margin: 10px auto;
	text-align: center;
}
.tab{
 display: none;
}
/*排行榜style 纵排列 一*/
/*.hdk-picture{
	width: 98%;
	background: #fff;
	margin: 5px auto;
	border-radius: 5px;
}
.hdk-index-Player{
	background: none;
}
.hdk-information>.box{
width: 100%;
}
.hdk-information{
	margin-top: 10px; 
}
*/
/*排行榜style 纵排列 二*/
/*.hdk-picture{
	float:left;
	width: 48%;
	background: #fff;
	margin: 1%;
	border-radius: 5px;
}
.hdk-information>img{
	top: 50px;
}
.hdk-information>.box>h5{
	float: none;
	display:block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hdk-information>.box>p{
	float: none;
}
.hdk-picture>a{
	height: 200px;
}
*/
/*排行榜style 纵排列 三*/

.hdk-picture{
	float:left;
	width: 31%;
	background: #fff;
	margin: 5px 1.166%;
	border-radius: 5px;
	position: relative;
}
.hdk-picture>a{
	height: 150px;
}
.hdk-information>img{ 
	top: 53px;
	left: 13%;
}
.hdk-information>.box{
width: 100%;
}
.hdk-information>.box>h5{
	float: none;
	display:block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hdk-information>.box>p{
	float: none;
}
.hdk-orders{
	background: #8a8a8a;
	position: absolute;
	top: -150px;
	left: 0px;
	opacity: 0.8;
	border-radius: 5px 0 0 0;
	width: 36px; 
    height: 20px;margin: 0px;
}
.hdk-orders>p{
	color:#fff;
	line-height: 20px;
}

.hdk-picture>a>img{
	max-width: 500px;
	border-radius: 5px;
}
/*---end---*/

/*--player 样式--*/
.hdk-wrapper{
	max-width: 500px;
	width: 100%;
	margin:0 auto;
	background: linear-gradient(to right, rgba(247,71,109,0.9),rgba(254,89,95,1));
}
.hdk-details{
	width: 100%;
	max-width: 500px;
	height:90px;
	padding-top:10px;
	position: relative;
}
.hdk-img{
	max-width: 18%;
	height: 100%;
	margin:0px 2%;
	float: left;
}
.hdk-img>img{
	width: 100%;
	border-radius: 50%;	
}
.hdk-Serial-number{
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 0 10px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	color: #f8597b;
	float: left;
}
.hdk-name{
	margin-top: 10px;
	width: 74%;
	height: 20px;
}
.hdk-name>p{
	color:#fff;
	font-size:16px;
	font-weight: 600;
}
.hdk-introduce>span{
	font-size: 14px;
	color: #fff;
  	overflow: hidden;
 	text-overflow: ellipsis;   /*超出两行显示（...)*/
 	display: -webkit-box;
 	-webkit-line-clamp: 2;
 	-webkit-box-orient: vertical;	
}	
.hdk-introduce>a{
	color: yellow;
	text-decoration: none;
	font-size:14px;
	position: absolute;
	right: 10px;
	bottom: 0; 
}
.hdk-Ranking{
	margin-top:10px; 
	max-width: 500px;
	border-bottom:2px solid #fb708b;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.hdk-Ranking p{
	color: #fff;
	font-size: 16px;
}
.hdk-Ranking span{
	color: #fff;
	font-size: 14px;
}
.hdk-Ranking>li{
	margin-bottom: 5px;
}
.hdk-notice>img{
	width: 30px;
	position: absolute;
	top: 10%;
	left: 2%;
}
.hdk-notice>p{
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	float: left;
	margin-left: 50px;
}
.hdk-Arrow{
	position: absolute;
	top: 10%;
	right: 2%;	
}
.hdk-Photo-wall{
	width: 95%;
	margin: 5px auto 0;	
}
.hdk-Photo-wall img{
	width: 100%;
	max-width: 500px;
	border-radius: 2px;
}
.hdk-Advertisement{
	margin-top: 10px;
	position: relative;
}
.hdk-Advertisement>button>img{
	width: 15px;
}
.hdk-Advertisement>img{	
	width: 100%;
	max-width: 500px;
}
.hdk-Advertisement>button{
	background: #666000;
	border-style: none;
	position: absolute;
	top: 0;
	right: 0;
}
.hdk-copyright{
	border:1px solid #fff;
	margin: 50px auto 10px;
	border-radius: 50px;
	text-align: center;
	line-height: 30px;
	width: 40%;
	color: #fff;
	font-size: 12px;
}
.hdk-emptys{
	height: 50px;
}
.hdk-option{
	height: 50px;
	max-width: 500px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.hdk-option>a>li{
	border-right: 1px solid #e2e7ea;	
	font-size: 14px;
	color: #000;
}
.hdk-vote{
	padding:0 10px;
	text-align: center;
	border-radius: 25px;
	line-height: 32px;
	background:linear-gradient(to right, rgba(247,71,109,0.9),rgba(254,89,95,1));;
}
.hdk-vote>span{
	color: #fff;
}
.hdk-vote>img{
	width: 30%;
	vertical-align: middle;
	display: inline-block;
}
/*---end---*/

/*--ranking样式--*/
.hdk-skin{
	max-width: 500px;
	margin:0 auto;
	text-align: center;
	background: linear-gradient(to right, rgba(247,71,109,0.9),rgba(254,89,95,1));s
}
.hdk-skin>img{
	width: 50%;
	margin-top: 20px; 
}	
.hdk-skin>p{
	width: 100%;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
}
.hdk-order{
	margin: 25px 5px;
	width: 25px;
	height: 25px;
	float: left;
	color: #fff;
	border-radius: 50%;
	background:#cccccc;
}
.hdk-order>p{
    line-height: 25px;
}
.hdk-chart{
	margin: 8px 5px;
	width: 55px;
	height: 55px;
	float: left;
}
.hdk-chart>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.hdk-Player>h5{
	margin-left: 10px;
	font-size: 14px;
	float:left;
	display: inline-block; 
	line-height: 70px;
	color: #000;
}
.hdk-Player>p{
	font-size: 18px;
	display: inline-block; 
	line-height: 70px;
	float:right;
	color: #f92e5b;
	font-weight: 700;
}
.hdk-Player>span{
	font-size: 14px;
	display: inline-block; 
	line-height: 70px;
	float:right;
	color: #f92e5b;
	margin: 0px 15px 0px 5px;
	color: #4e4e4e;
}
.hdk-clicks{
	height: 36px;
	line-height: 36px;
	color: #fff;
}
.hdk-notice{
	height: 50px;
	border-bottom:1px solid #fb708b;
	position: relative;
}
.hdk-Arrow{
	position: absolute;
	top: 20%;
	right: 2%;	
}
/*---end---*/
/*HDK互动酷 版权所有*/

