*{
	margin: 0px;
	padding: 0px;
}
.width{
	text-align: center;
}
.logo{
	margin-top: 30px;
}
.text{
	/*border: 1px solid red;*/
	font-size: 17px;
	margin-top: 20px;
}
.tips{
	margin-top: 30px;
	border-top: 1px solid #ccc ;
	position: relative;
}
.tips span{
	background-color: #fff;
	padding: 0 3px 0 3px;
	position: absolute;
	margin-left: -73px;
	vertical-align: middle;
	top: -13px;
    left: 50%;
}
.txt {
    color: #686868;   
}
.conter{
	margin: 40px 0 30px 0;
}
.input{
	margin: 30px auto;
	width: 330px;
}
.input-1{
	height: 38px;
    width: 263px;
	border: 1px solid #686868;
	border-radius: 2px;
	float: left;
}
.input-2{
	color: #fff;
	height: 40px;
	width: 65px;
	background-color: #1afa29;
	border:none;
	float: right;
}